*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Castoro", serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  display: inline-block;
}

.castoro-regular-italic {
  font-family: "Castoro", serif;
  font-weight: 400;
  font-style: italic;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}
.container-fluid {
  width: 100%;
}

.fs-128 {
  font-size:128px;
}
.fs-40 {
  font-size:40px;
}
.fs-32 {
  font-size:32px;
}
.fs-24 {
  font-size:24px;
}
.fs-20 {
  font-size:20px;
}

$primary-color: #AE0000 ;
$second-color: #949494;
$dark-color: #000;

.text-primary {
 color: $primary-color;
}
.text-second {
 color: $second-color;
}
.text-dark {
  color: $dark-color;
}

.td-n {
  text-decoration: none;
}

.bg-gray {
  background: #EFEFEF;
}
.bg-dark {
  background: #000;
}
.bg-light {
  background: #fff;
}

.border-bottom-3 {
  border-bottom: 3px solid;
}
.border-primary {
  border-color: $primary-color;
}

.py-64 {
    padding-block: 64px;
}
.py-48 {
    padding-block: 48px;
}
.pt-160 {
    padding-top: 160px;
   }
.pt-80 {
  padding-top: 80px;
}
.pb-120 {
  padding-bottom: 120px;
}

.mb-40 {
  margin-bottom: 40px;
}


.mt-16 {
  margin-top: 16px;
}
.mt-12 {
  margin-top: 12px;
}
.mt-8 {
  margin-top: 8px;
}

.mr-40 {
  margin-right: 40px;
}

.text-start {
  text-align: start;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}

.letter-spacing-12 {
  letter-spacing: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin: 0 auto;
}

.content {
  width:50%;
  margin-left: auto;

  p {
    width: 580px;
  }
}

.info-vito, .info-education, .info-work, .info-awards {
  width: 50%;
}

.info-awards {

    .list {
        width: 580px;
    }
}

.social-list {
    line-height: 0;
}

.social-item {
  display: inline;
}

